<div class="container">
  <div class="search-bar">
    <%= form_tag items_path, method: :get ,class: "form-inline" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search items"%>
    <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
  <div class="cards">
    <% @items.each do |item| %>
      <div class="card-holder">
      <%= item.name %>
      <%= item.category %>
      <%= item.purchased %>
      <%= item.expires %>
      <%= link_to 'delete',  item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>
