<script type="text/javascript" src="{{ URL::asset('js/chartkick.js') }}"></script>
<div class="container">
  <div class="header">
    <div class="search-bar">
      <%= form_tag items_path, method: :get ,class: "form-inline" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search items"%>
      <%= submit_tag "Search", class: "btn btn-primary btn-md" %>
      <% end %>
    </div>

    <div class="item-count">
      <% if @items.empty? %>
        <p>Hello, <%= @user.first_name.capitalize %>! Your cupboard is empty. <%= link_to "Add an item", new_item_path, class: "add-btn" %> 😄</p>
      <% else %>
        <p>You've got <%= pluralize(@items.count, 'item') %> in your cupboard!</p>
      <% end %>
    </div>
  </div>

  <div class="cards">
    <% @items.each do |item| %>
      <div class="card-holder">
        <%= image_tag "canned.jpg", alt: "alttext" %>
        <div class="card-top">
          <h5><%= item.name.capitalize %></h5>
          <h6><%= item.category.capitalize %></h6>
        </div>
        <div class="card-bottom">
          <div class="card-bottom-info">
            <p><%= item.purchased.strftime("Purchased: %m/%d/%Y") %></p>
            <p><%= item.expires.strftime("Expires: %m/%d/%Y") %></p>
            <% days_left = (item.expires - Time.now).to_i / 86400 %>
            <p><%= days_left %> days left</p>
          </div>
          <div class="index-card-buttons">
            <%= link_to '', item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash-alt" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="stat">
<%= pie_chart Item.group(:category).count %>
</div>
<!--
<%= pie_chart(@data) %> -->
